<div class="container">
  <div class="hero-unit">
      <h1 class="text-center">Our flowers</h1>
  </div>
    <table class="table table-striped">
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= image_tag(product.image_url, class: 'img-rounded img-polaroid') %>
        </td>

        <td>
          <dl>
            <dt class="lead"><%= product.title %></dt>
            <dd><em><%= product.latin_name %></em></dd>
            <dd> 
              <%= truncate(strip_tags(product.description),
                   length: 80) %></dd>
          </dl>
        </td>

        <td>
          <div class="displace">
          <%= link_to raw('<i class="icon-search"></i> Show'), product, class: "btn btn-small" %><br/>
          <%= link_to raw('<i class="icon-edit"></i> Edit'), edit_product_path(product), class: "btn btn-small" %><br/>
          <%= link_to raw('<i class="icon-warning-sign"></i> Destroy'), product, method: :delete,
                      data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>

    <br />
      <div class="text-right">
      <%= link_to raw('<i class="icon-hand-right"></i> New product'), new_product_path, class: "btn btn-primary"%>
      </div>
    </div>
