<% if notice %> 
<p id="notice"><%= notice %></p>
<% end %>
<div class="hero-unit">
  <h1>Flower Catalog</h1>
</div>
<% cache ['store', Product.latest] do %>
	<% @products.each do |product| %>
	  <% cache ['entry', product] do %>
		<div class="row">
		  <div class="span3">
		    <%= image_tag(product.image_url) %>
		  </div>
		  <div class="span9">
		    <h3><%= product.title %></h3>
		    <%= sanitize(product.description) %>
		    <div>
		      <span class="span1" class="price"><%= number_to_currency(product.price) %></span>
		      <div class = "span1">
		        <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn btn-small btn-nomarg" %>
              </div>
		    </div>
		  </div>
		</div>
		<br>
	<% end %>
  <% end %>
<% end %>